$colors: (
  primary: #5d29ec,
  secondary: #f8bd70,
  danger: #ec5b5b,
  success: #28af49,
  black: #252525,
  dark-grey: #808080,
  grey: #bbbbbb,
  light-grey: #d1d1d1,
  white: #eeeeee,
  extra-white: #f6f6f6,
  background: #f6f6f6
);

$fontSizes: (
  xxs: 6px,
  xs: 12px,
  s: 18px,
  m: 24px,
  l: 30px,
  xl: 50px,
  xxl: 70px
);

$spacing: (
  xxs: 6px,
  xs: 12px,
  s: 18px,
  m: 24px,
  l: 30px,
  xl: 36px,
  xxl: 42px,
  xxxl: 50px,
  giant: 75px,
  huge: 100px,
);
