@use 'tools' as tools;

.Footer {
  & {
    width: 100%;
    background-color: tools.colors(background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: tools.spacing(m) 100px;
  }

  &__brand {
    font-size: tools.fontSizes(s);
    font-weight: bold;
    background: linear-gradient(45deg, tools.colors(primary), tools.colors(secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    cursor: pointer;
    text-align: center;
  }
}
